html {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font: normal 0.78em arial, sans-serif;
    background: #fffaf4;
    color: #555;
  }
  
  p {
    padding: 0 0 16px 0;
    line-height: 1.7em;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font: 175% "century gothic", arial, sans-serif;
    color: #656565;
    margin: 0 0 15px 0;
  }

  h1{
    padding: 30px 0 15px 0;
    font-size: 30px;
  }
  
  h2 {
    color: #656565;
  }

  h3{
    text-align: center;
  }
  
  h4, h5, h6 {
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
  }
  
  h5, h6 {
    font: italic 95% arial, sans-serif;
    padding: 0 0 15px 0;
    color: #000;
  }
  
  h6 {
    color: #888;
  }
  
  a {
    outline: none;
    color: #111;
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul {
    margin: 2px 0 22px 17px;
  }
  
  ul li {
    list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
  }

  #main, #header, #logo, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
  }
  
  #main {
    width: 890px;
    background: #d8caaf;
  }
  
  #header {
    width: 890px;
  }
  
  #title1, #title2, #homepagetitle_graph1, #homepagetitle_graph2 {
    text-align: center;
  }
  #homepagetitle_graph1{
      margin: 30px 0px 20px 0px;
  }
/******************/
#dashboard_div, #dashboard_gdp_pc_div, #GrowningTrendEduFixed_chart_div, 
#GrowningTrendHealFixed_chart_div, #GrowningTrendEduPers_chart_div,
#GrowningTrendHealPers_chart_div{
    background: #ffffff;
}


#chart_div, #chart_gdp_pc_div, #GrowningTrendEduFixed_chart_div, 
#GrowningTrendHealFixed_chart_div, #GrowningTrendEduPers_chart_div,
#GrowningTrendHealPers_chart_div{
    outline: solid 1px #000000;
    float: left;
}

#navbar {
    width: 890px;
    padding: -10px 0 0 0;
    margin: 10px 0 0 0;
    overflow: hidden;
    background-color: #333;
    font-size: 15px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  #navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

  #navbar a:hover {
    background: #ddd;
    color: black;
  }



/*************Compare page*************/

/* .comparetext{
    outline: solid 1px #000000; 
    background-color: #ffffff; 
    text-align: center;
} */
.compare_p1{
  background-color: #ffffff;
  text-align: center;
}
.comparetitle{
    text-align: center;
    padding: 15px 0 0 0;
}

/*************Trend page*************/
.trendcontent{
    text-align: center;
}

.section1{
    outline: solid 1px #000000;
}
